
body
{
	background-color:#D3D3D3;
}

.logo{

	width: 100%;
	text-align: center;
	padding-bottom: 4%;
	padding-top:4%;

}
.logo img{
	width: 20%;
}



#slides
{
	position: relative;
	border:solid 4px orangered;
	height: 374px;
	width: 540px;
	margin: 0 auto;
	font-size: 150%;
	
	
	
 
}
.slides
{
	position: relative;
}
.commentaire{
	position: absolute;
	top:70%;
	text-align: center;
	color:white;
	font-weight: bold;
	background-color:orangered;
	width: 540px;
}
.active
{
	opacity: 1;
	z-index: 2;
	position: absolute;
	
	

	
}
.slide
{
	opacity: 0;
	z-index: 1;
	position: absolute;
	
}

.fa-chevron-circle-right
{
	position: absolute;
	top:50%;
	right: 0;
	font-size: 200%;
	z-index: 3;
	color:orangered;
}
.fa-chevron-circle-left
{
	position: absolute;
	top:50%;
	left: 0;
	font-size: 200%;
	z-index: 3;
	color:orangered;
}

.fa-play-circle
{
	position: absolute;
	top:50%;
	left:50%;
	font-size: 200%;
	z-index: 3;
	color:orangered;
}

#map
{
	height: 450px;
	width:700px;
	border-radius:5%;
	
}
.carre{
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	justify-content: space-around;
}
#nomStation{
	border:solid 3px orangered;
	padding: 5%;
	position: relative;

}
#infos{
	border:solid 4px orangered;
	width: 250px;
	height: 450px;
	
}
#resa
{
	width: 80px;
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	text-align: center;
	border-bottom-right-radius:40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius:40px;
  border-top-left-radius: 40px;
  position: absolute;
  top :90%;
  left:70%;
  
}
#enregistrer
{
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	text-align: center;
	border-bottom-right-radius:40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius:40px;
  border-top-left-radius: 40px;
} 
#effacer{
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	text-align: center;
	border-bottom-right-radius:40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius:40px;
  border-top-left-radius: 40px;
  
}
#details{
width: 370px;
}

input
{
	border:none;
	background-color:#D3D3D3;
	font-weight: bold;
	color:orangered;
	width: 300px;
}
.nom
{
	border:grey solid 2px;
	width:150px;
}
#reservation{
	color:orangered;
	font-weight: bold;
}
#signature{
	border:2px solid orangered;
}
.fa-hourglass-half
{
	font-size: 150%;
	padding-right: 1%;
	color:orangered;
}
#encart
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
#changerStation
{
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	text-align: center;
	border-bottom-right-radius:40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius:40px;
  border-top-left-radius: 40px;
  width: 200px;
  margin-left: 5%;

}
/*-------------
MEDIA QUERIES
---------------*/



@media all and (max-device-width:1024px)
{
	.carre
	{
	flex-direction: column;
	align-items: center;
	}
	#nomStation
	{
		margin-top: 5%;
	}
	#details
	{
		height: 400px;
	}
	#changerStation
	{
		margin-left: 40%;
	}
}